@pink-color: #ff6d6d;
@grey-bg-color:#f6f5f3;
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1150px)";
@mobile-widths-only: ~"(max-width: 767px)";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
