body {
  font-family: "Exo", "Arial", sans-serif;
  background-color: #fff;
  color: #000000;
}

h1 {
  font-size: 60px;
  line-height: 75px;
  color: #282828;
  font-weight: 300;
  text-align: center;
  margin: 0;
}

h2 {
  font-weight: normal;
  letter-spacing: 1.6px;
  font-size: 40px;
  line-height: 50px;
  color: #000000;
  margin: 0;
}

h3 {
  font-size: 22px;
  margin: 0;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 1.3px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
