body {
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: #fff;
  color: #000000;
}

h1 {
  font-size: 27px;
  line-height: 30px;
  color: #231f20;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

h2 {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-size: 17px;
  margin: 0;
  font-weight: bold;
  line-height: 24px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
