@font-face {
    font-family: "Exo-Regula";
    font-style: normal;
    font-weight: 400;
    src:
      local("Exo-Regula.ttf"),
      local("ExoRegular.ttf"),
    url("../../fonts/Exo-Regular.ttf") format("ttf"),
}
@font-face {
    font-family: "Exo-Bold";
    font-style: normal;
    font-weight: 700;
    src:
      local("Exo-Bold.ttf"),
      local("ExoBold.ttf"),
    url("../../fonts/MyriadProBold.woff") format("ttf"),
}
